# Ignore hidden files
.*
# But pay attention to certain specific ones
!.env.example
!.env.test
!.envrc
!.eslintrc
!.gitattributes
!.gitconfig
!.github
!.gitignore
!.gitkeep
!/**/.gitkeep
!.nvmrc
!.pnp.cjs
!.pnp.loader.mjs
!.prettierignore
!.prettierrc

# Pipeline
node_modules
dist
